* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kufam', sans-serif;
  overflow: hidden;
}

:root {
  --white: rgb(255, 255, 255);
  --jungle-green: rgb(38, 158, 109);
  --jungle-green-darker: rgba(38, 135, 110, 1);
  --mine-shaft:rgba(38, 38, 38, 1);
  --mine-shaft-lighter:rgba(38, 38, 38, 0.8);
  --tundora: rgba(65, 65, 65, 1);
  --nobel: rgba(186, 172, 172, 1);
  --dove-gray: rgba(115, 115, 115, 0.5);
  --box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.4),
                0 2px 0 0 rgba(255, 255, 255, 1),
                0 0 0 8px rgba(255, 255, 255, 0.05);
}

.container {
  height: 100svh;
  display: grid;
  grid: 100px 100px 1fr 100px / 1fr;
  justify-items: center;
  align-items: center;

  background-image: url('./assets/images/background-image.png');
  background-position: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.logo-text {
  color: var(--white);
  font-size: 1.9rem;
  font-weight: bold;
}

.header-items {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  color: var(--white);
  font-weight: 500;
}

.header-items span {
  padding: 0.43rem 2.2rem;
}

.header-items span:first-of-type {
  border-radius: 0.4rem;
  color: var(--jungle-green);
  background-color: var(--white);
}

.header-items *:hover {
  border-radius: 0.4rem;
  color: var(--jungle-green);
  background-color: var(--white);
  cursor: pointer;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

.login-form {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--dove-gray);
  border-radius: 1rem;
  background-color: var(--mine-shaft-lighter);
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin: 0 1rem;
}

.label-text {
  color: var(--white);
  margin-bottom: 0.4rem;
}

.label-text:last-of-type {
  margin-top: 1.5rem;
}

.input-text {
  width: 31.125rem;
  height: 3rem;
  padding: 0rem 1rem;

  color: var(--nobel);
  background-color: var(--mine-shaft);
  border: 1px solid var(--tundora);
  border-radius: 0.15rem;
}

.checkbox {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.input-checkbox {
  width: 17px;
  height: 17px;
  background-color: var(--mine-shaft);
  border: 1.8px solid var(--dove-gray);
  border-radius: 4px;
  cursor: pointer;
}

.label-checkbox {
  margin-left: 0.4rem;
  color: var(--white);
  font-size: 0.7rem;
}

.login-account {
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: 3rem;

  color: var(--white);
  background-color: var(--jungle-green);
  border-width: 0.1px 0 0 0;
  border-color: var(--white);
  border-style: solid;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.login-account:hover {
  background-color: var(--jungle-green-darker);
}

.forgot-password {
  margin-top: 2rem;
  color: var(--jungle-green);
  font-weight: 500;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  column-gap: 3rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.8rem;

  color: var(--white);
}

@media (min-width: 768px) and (max-width: 1260px) {
  .header {
    width: 100vw;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .header-items {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .login-form {
    width: 65vw;
    height: 60vh;
    margin-top: 10rem;
  }

  .form {
    margin-top: 1.2rem;
  }

  .label-text {
    margin-bottom: 0.6rem;
  }

  .label-text:last-of-type {
    margin-top: 2rem;
  }

  .input-text {
    width: 50vw;
  }

  .checkbox {
    margin-top: 1.5rem;
  }

  .login-account {
    margin-top: 4rem;
  }

  .forgot-password {
    margin-top: 4.5rem;
  }

  .footer {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    width: 100vw;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .header-items {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .login-form {
    width: 80vw;
    height: 60vh;
    margin-top: 8rem;
  }

  .form {
    margin-top: 1.5rem;
  }

  .label-text {
    margin-bottom: 0.6rem;
  }

  .label-text:last-of-type {
    margin-top: 2rem;
  }

  .input-text {
    width: 70vw;
  }

  .checkbox {
    margin-top: 1.5rem;
  }

  .login-account {
    margin-top: 4rem;
  }

  .forgot-password {
    margin-top: 3rem;
  }

  .footer {
    display: none;
  }
}